<!DOCTYPE html>
<html lang="en">
  

<head>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
    
</head>

<body>
  <div class="background ">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Login</h3>
 
    
        <!-- <label for="exampleInputEmail1" class="form-label" id="floatinginput">Email address</label>
        <input type="email"  name ="email" [(ngModel)] ="email" placeholder="Email Address"> -->

        <div class="form-floating mb-3">
          <input type="email" name= "email" [(ngModel)] ="email" class="form-control" id="floatingInput" placeholder="Email Address">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input type="password"  name="password" [(ngModel)] ="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        
    
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password"  name="password" [(ngModel)] ="password" placeholder="Password"> -->
    
        <div class="row mt-3">
        <div class="col-mb-5 ps-4 ms-1">
            <a href="/register" style="text-decoration: none;">Don't Have an Account? Sign-up </a>
        </div>
        <div class="col-mb-6 mt-2 ps-4 ms-1 justify-content-end">
            <a href="/forgot-password" class= "text-danger" style="text-decoration: none;">Forgot your password? Click here</a>
        </div>
    </div>

    <button type="button" class="btn btn-info" (click) ="login()" >Log In</button>
    <!-- <div class="social">
        <div class="go" (click)="signInWithGoogle()" style="text-decoration: none;" >
            <img src = "../../../assets/Google__G__Logo.svg.png" alt="" height="24px" width="24px">
            <i class="fab fa-google"></i> Sign In with Google
        </div>
    </div> -->
    </form>
</body>

</html>