<!--div class="container">
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" name ="email" [(ngModel)] ="email">
                        </div>
                        <button type="button" class="btn btn-info" (click) ="forgotPassword()" >Send link</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Back to<span class="text-danger">Login</span></a>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div-->


<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
    
</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Forgot password</h3>

    <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name ="email" [(ngModel)] ="email" placeholder="Email Address"> -->

    <div class="form-floating mb-3">
        <input type="email" name= "email" [(ngModel)] ="email" class="form-control" id="floatingInput" placeholder="Email Address">
        <label for="floatingInput">Email address</label>
      </div>

    <button type="button" class="btn btn-info" (click) ="forgotPassword()" >Send Link</button>
    <a href="/login" button type="button" class="btn btn-info"> Back to login</a>
    </form>
</body>

</html>
